<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<div th:switch="${calculations}">
    <h2 th:case="null">No calculations yet</h2>
        <div th:case="*">
	<table>
				<thead>
					<tr>
						<th>Monthly Payment</th>
						<th>Purchase Price</th>
						<th>Deposit</th>
						<th>BondTermYears</th>
						<th>Fixed Interest Rate</th>
						<th>Name</th>
					

					</tr>
				</thead>
				<tbody>
					<tr th:each="calculation : ${calculations}">
						<td th:text="${calculation.monthlyPayment}"></td>
						<td th:text="${calculation.inputData.purchasePrice}"></td>
						<td th:text="${calculation.inputData.deposit}"></td>
						<td th:text="${calculation.inputData.bondTermYears}"></td>
						<td th:text="${calculation.inputData.fixedInterestRate}"></td>
						<td th:text="${calculation.inputData.name}"></td>
						

					</tr>
				</tbody>
			</table>
			</div>
</div>
	<div>
		<form action="#" th:action="@{/Calculation}" th:object="${inputData}"
			method="post">
			<p>
				Name: <input type="text" th:field="*{name}" />
			</p>
			<p>
				Purchase Price / Principal: <input type="text" th:field="*{purchasePrice}" />
			</p>
			<p>
				Deposit: <input type="text" th:field="*{deposit}" />
			</p>
			<p>
				Bond Term Years: <input type="text" th:field="*{bondTermYears}" />
			</p>
			<p>
				Fixed Interest Rate: <input type="text"
					th:field="*{fixedInterestRate}" />
			</p>
			<p>
				<input type="submit" value="Calculate" /> <input type="reset"
					value="Reset" />
			</p>
		</form>
	</div>
</body>
</html>