<footer>
    
    <!-- BEGIN CORE PLUGINS -->
    <script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/global/plugins/highcharts/js/highcharts.js}" type="text/javascript"></script>
    <script th:src="@{/assets/global/plugins/highcharts/js/highcharts-3d.js}" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
  
</footer>